* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 20px;

}


window#waybar {
    background: transparent; /* if this is going to work make sure to have blur off in hyprland */
    color: #cad3f5;

}

#tooltip {
    opacity: 0.9;
    background: #24273a;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    
}

#tray {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    transition: background-color 0.3s ease; 
}

#tray:hover {
    background-color: #89B4FB; /* Target color on hover */
}


#custom-gpu-usage {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

#bluetooth {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 0px 10px 10px 0px;
    transition: background-color 0.3s ease; 
}

#bluetooth:hover {
    background-color: #89B4FB; /* Target color on hover */
}


#battery {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    transition: background-color 0.3s ease; 
}

#pulseaudio:hover {
    background-color: #89B4FB; /* Target color on hover */
}

#backlight {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
    transition: background-color 0.3s ease; 
}

#backlight:hover {
    background-color: #89B4FB; /* Target color on hover */
}


#custom-updates {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
}



#memory {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}
#cpu {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 8px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
}
#clock{
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

#custom-divider {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}

#custom-notification {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 0px 10px 10px 0px;
    transition: background-color 0.3s ease; 

}

#custom-notification:hover {
    background-color: #89B4FB; /* Target color on hover */
}


#custom-launcher {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
    transition: background-color 0.3s ease; 
}


#custom-launcher:hover {
    background-color: #89B4FB; /* Target color on hover */
}


#workspaces{
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
    color: #B8C0E2;
    padding: 0;
    margin: 0;

}

#workspaces button label {
    color: #B8C0E2;
    font-size: 14px;
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
}

#workspaces button:hover {
    background-color: #89B4FB; /* Target color on hover */
}








