* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 20px;
}

window#waybar {
    background: transparent; /* if this is going to work make sure to have blur off in hyprland */
    color: #cad3f5;
}

#tooltip {
    opacity: 0.9;
    background: #24273a;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

#tray {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
}

#tray:hover {
    background-color: #89B4FB;
}

#custom-gpu-usage {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
}



#bluetooth:hover {
    background-color: #89B4FB;
}

#battery {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
}

#pulseaudio {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
    transition: background-color 0.3s ease;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
    border-left: 2px solid #cad3f5;
}

#pulseaudio:hover {
    background-color: #89B4FB;
    
}

#backlight {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    transition: background-color 0.3s ease;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
}

#backlight:hover {
    background-color: #89B4FB;
}



#memory {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
    border-right: 2px solid #cad3f5;
}

#cpu {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 8px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
    border-left: 2px solid #cad3f5; 
}

#clock {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
    
}

#custom-divider {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}

#custom-notification {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 0px 10px 10px 0px;
    transition: background-color 0.3s ease;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
    border-right: 2px solid #cad3f5; 
}

#custom-notification:hover {
    background-color: #89B4FB;
}

#custom-launcher {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
    border: solid #cad3f5;
    border-right: 2px solid #cad3f5; /* Explicitly set the right border */
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
    transition: background-color 0.3s ease;
}

#custom-launcher:hover {
    background-color: #89B4FB;
}

#workspaces {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
    color: #B8C0E2;
    border-top: 2px solid #cad3f5;
    border-bottom: 2px solid #cad3f5;
    border-left: 2px solid #cad3f5; 
}

#workspaces button label {
    color: #B8C0E2;
    font-size: 14px;
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
}

#workspaces button:hover {
    background-color: #89B4FB;
}



